.body { 
	width: 100%;
	height:100%;}
.login { 
  text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.App-form{
   padding-top: 100px;
   padding-right: 150px;
   padding-left: 150px;
}
.App-input{
  text-align: center;
}
.App-input-btn{
  text-align: center;
}
.App-input-span{
  font-size: 10;
  float: left;
  color: red;
}
.App-login{
   text-align: center;
   padding-top: 100px;
   padding-right: 50px;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
